* {
    --pallete-500: #007FFF;
    --palette-600: #0072E5;

    font-family: Helvetica, Sans-Serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.layout {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

main {
    margin-top: 10vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 30px;
}

.card > h3 {
    font-weight: normal;
    font-size: 24px;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 20px 40px;
    border-radius: 10px;
    width: 400px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 10px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#get-prediction {
    background: linear-gradient(to right bottom, var(--pallete-500), var(--palette-600) 120%);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;

    cursor: pointer;
}

#get-prediction:hover {
    background: var(--palette-600);
}

a {
    text-decoration: none;
    color: var(--pallete-500);
    font-size: 18px;
}

a:hover {
    color: var(--palette-600);
}